table{
    background-color: rgb(146, 145, 190);
}
body{
    background-color: rgb(234, 189, 240);
}
.button1{
    background-color: rgb(26, 211, 66);
}
.button2{
    background-color: rgb(223, 78, 85);
}